<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.base.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.base.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.base.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackServlet</servlet-name>
        <servlet-class>feedback.FeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedBack</servlet-name>
        <servlet-class>feedback.DeleteFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedBack</servlet-name>
        <servlet-class>feedback.UpdateFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatient</servlet-name>
        <servlet-class>controller.base.SearchPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>controller.base.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.base.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackServlet</servlet-name>
        <url-pattern>/FeedBackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedBack</servlet-name>
        <url-pattern>/DeleteFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedBack</servlet-name>
        <url-pattern>/UpdateFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatient</servlet-name>
        <url-pattern>/SearchPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/myaccount/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/myaccount/ChangePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
        <jsp-property-group>
            <description>JSP configuration for the system </description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/register.jsp</url-pattern>
            <url-pattern>/myaccount/accountDetail.jsp</url-pattern>
            <url-pattern>/myaccount/ChangePassword.jsp</url-pattern>
            <!-- và các trang khác -->
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <!-- optional for admin GUI -->
        <jsp-property-group>
            <description>JSP configuration for the admin console
            </description>
            <url-pattern>/Patient/*</url-pattern>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/feedback.jsp</url-pattern>
            <url-pattern>/search.jsp</url-pattern>
            <url-pattern>/listfeedback.jsp</url-pattern>
            <url-pattern>/updatefeedback.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header2.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>imgPath</param-name>
        <param-value>assets/img/</param-value>
    </context-param>
</web-app>
